body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 80%;
    margin: auto;
}

h1 {
    font-size: 3em;
    letter-spacing: .4em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
}

main { 
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: 0.5em;
}

p {
    margin: 0.2em auto;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
}

table {
  width: 100%;
  border: 0;
}

td {
  text-align: left;
  padding: 1px;
}

img {
    width: 100%;
}

/* ID Properties */

#mainLeft {
    border-right: 1px solid lightgray;
}

/* Class Properties */


.shrank {
    font-size: 10px;
}

.packed {
   letter-spacing: -0.35em;
   margin-bottom: -0.3em;
}

.spread {
    letter-spacing: .3em;
}

.h1_desc {
    text-align: right;
    margin-top: -0.3em;
    margin-left: 1em;
}

.desc {
    margin-top: -0.3em;
    margin-left: 1em;
}

.center {
   text-align: center;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
    margin-right: 2em;
}

.tbl_art {
    table-layout: fixed;
    text-align: center;
}

.tbl_art_pic {
    height: 130px;
    object-fit: contain;
}

.btn_vids {
    background-color: whitesmoke;
    border: none;
    border-radius: 2px;
    color: rgb(142, 140, 140);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    padding: 6px;
    margin: 2px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    font-style: none;
    line-height: 1.8em;
    letter-spacing: 0.1em;

    position: relative;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn_vids:hover {
    color: rgb(142, 140, 140);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.6);
    padding: 2px;
    margin: 1px;
    line-height: 1.4em;
}

.btn_overlay{
    background-color: rgba(0,0,0,0.6);
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-duration: 0.4s;
}

.btn_overlay > * {
    transition-duration: 0.2s;
    transform: translateY(20px);
}

.btn_overlay:hover{
    backdrop-filter: blur(5px);
    opacity: 1;
}

.btn_overlay:hover > * {
    transform: translateY(0px);
}

.btn_overlay_desc{
    padding: 6px;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.1em;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

